html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  display: grid;
  grid-template-columns: 5px 1fr 5px;
  grid-template-rows: 65px 1fr 60px;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
